---
- hosts: bastion
  become: true
  vars:
    ansible_user: o.kuzubov
  tasks:

  - name: Скачивание репозитория zabbix
    ansible.builtin.get_url:
      url: https://repo.zabbix.com/zabbix/7.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_7.0+ubuntu24.04_all.deb 
      dest: /tmp

  - name: Установка репозитория zabbix
    ansible.builtin.apt:
      deb: /tmp/zabbix-release_latest_7.0+ubuntu24.04_all.deb
      update_cache: yes

  - name: Обновление кэш APT
    apt:
      update_cache: yes

  - name: Установка пакетов
    apt:
      name: zabbix-proxy-sqlite3, zabbix-sql-scripts
      state: latest

  - name: Создание директории
    ansible.builtin.file:
      path: /var/lib/zabbix
      state: directory
      owner: zabbix
      group: zabbix
      mode: 0775

  - name: Импорт схемы Zabbix
    shell: |
      cat /usr/share/zabbix-sql-scripts/sqlite3/proxy.sql | sqlite3 /var/lib/zabbix/proxy.db

  - name: Изменение владельца БД
    ansible.builtin.file:
      path: /var/lib/zabbix/proxy.db
      owner: zabbix
      group: zabbix
      mode: '0774'

  - name: Получить публичный IP
    community.general.ipify_facts:
    delegate_to: zabbix
    register: zabbix_ip_result

  - name: Добавление IP zabbix-server в zabbix_proxy.conf
    ansible.builtin.lineinfile:
      path: /etc/zabbix/zabbix_proxy.conf
      regexp: '^Server='
      line: "Server={{ ipify_public_ip }}"
    become: yes

  - name: Добавление имени в zabbix_proxy.conf
    ansible.builtin.lineinfile:
      path: /etc/zabbix/zabbix_proxy.conf
      regexp: '^Hostname='
      line: 'Hostname=bastion-proxy'
    become: yes

  - name: Добавление пути БД в zabbix_proxy.conf
    ansible.builtin.lineinfile:
      path: /etc/zabbix/zabbix_proxy.conf
      regexp: '^DBName='
      line: 'DBName=/var/lib/zabbix/proxy.db'
    become: yes

  - name: Перезагрузка zabbix-proxy
    ansible.builtin.service:
      name: zabbix-proxy.service
      state: started
      enabled: yes
    become: yes
